.navbarFirst {
    background-color: darkcyan !important;

}

.navbar-text {
    color: white;
}

.navbar-brand {
    font-weight: 600;
    font-size: 25px;
}

.firstPieceTitle {
    color: darkcyan;
}

.location {
    border: none;
    background-color: transparent;
    margin-left: 140px;
    margin-right: 40px;
}

.navDos {
    display: flex;
    justify-content: space-between;
}

.form-control {
    width: 350px;
}

.btn-outline-success {
    background-color: rgb(255, 167, 19);
    border-radius: 0%;
}

.searchIcon {
    filter: invert(100%) !important;
}

.navIcons {
    width: 38px;
    padding: 8px;
}

.bord {
    border-right: 1px solid black;
}

.navbar-nav {
    margin-left: 300px;
}

.navMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navMenu__options {
    display: flex;
    width: 800px;
    justify-content: space-between;
    list-style: none;
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

.allCategoriesButton {
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: darkcyan;
    color: white;
    font-weight: 600;
    height: 50px;
}

.allCategoriesicon {
    filter: invert(100%);
}

.carTitle {
    background-color: rgb(240, 240, 240);
    padding: 12px;
}

.carTitle h2 {
    font-size: 25px;
}

.productCard {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid gray;
    border-radius: 10px;
}

.productCard:hover .cancelProduct{
    visibility: visible
}

.productImage {
    width: 150px;
}

.priceContainer {
    display: flex;
    flex-direction: column;
}

.productName{
    font-size: 20px;
    width: 90px;
}

.productPrice {
    font-weight: bold;
    font-size: 25px;
}

.totalContainer {
    display: flex;
    flex-direction: column;
}

.totalBuy {
    font-weight: bold;
    font-size: 25px;
}

.lessQuantity {
    border: none;
    background-color: transparent;
}

.addQuantity {
    border: none;
    background-color: transparent;
}

footer{
    display: flex;
    justify-content: center;
}

.checkout{
    width: 80%;
    padding: 15px;
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
}

.totalPrice{
    display: flex;
    justify-content: space-between;
}

.totalTag{
    color: darkcyan;
    font-weight: bold;
    font-size: 30px;
}

.checkoutButton{
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 700px;
    background-color: rgb(230, 20, 40);
    color: white;
    font-weight: bold;
    align-self: center;
}

.cancelProduct{
    border: none;
    background-color: transparent;
    width: 50px;
    visibility: hidden;
}

.modal-interface{
    background-color: #111111bd;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}

.modal-interface--show{
    opacity: 1;
    pointer-events: unset;
}

.buyForm{
    margin: auto;
    width: 40%;
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.buyForm input{
    margin: 10px;
    padding: 10px;
}

.buyButtons{
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}
.buyButtons button{
    margin-left: 12px;
}

.cancelBuy{
    border: none;
    background: rgb(190, 190, 190);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    color: rgb(60, 60, 60);
    width: 90px;
}

.buyButton{
    border: none;
    background: rgb(230, 20, 40);
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    color: white;
    width: 90px;   
}

