.navbarFirst {
    background-color: darkcyan !important;

}

.navbar-text {
    color: white;
}

.navbar-brand {
    font-weight: 600;
    font-size: 25px;
}

.firstPieceTitle {
    color: darkcyan;
}

.location {
    border: none;
    background-color: transparent;
    margin-left: 140px;
    margin-right: 40px;
}

.navDos {
    display: flex;
    justify-content: space-between;
}

.form-control {
    width: 350px;
}

.btn-outline-success {
    background-color: rgb(255, 167, 19);
    border-radius: 0%;
}

.searchIcon {
    filter: invert(100%) !important;
}

.navIcons {
    width: 38px;
    padding: 8px;
}

.bord {
    border-right: 1px solid black;
}

.navbar-nav {
    margin-left: 300px;
}

.navMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navMenu__options {
    display: flex;
    width: 800px;
    justify-content: space-between;
    list-style: none;
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: 700;
}



.billsection {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 1000px;
}

.billCard{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    justify-content: space-evenly;
    border-radius: 5px;
    border: 1px solid purple;
    width: 600px;
    margin: 20px;
}

.dataSection{
    display: flex;
    flex-direction: column;
}

.productSection{
    display: flex;
    flex-direction: column;
}

.productData{
    display: flex;
    flex-direction: column;
    padding: 5px;
    border: 1px solid purple;
    border-radius: 5px;
}