.navbarFirst {
    background-color: darkcyan !important;

}

.navbar-text {
    color: white;
}

.navbar-brand {
    font-weight: 600;
    font-size: 25px;
}

.firstPieceTitle {
    color: darkcyan;
}

.location {
    border: none;
    background-color: transparent;
    margin-left: 140px;
    margin-right: 40px;
}

.navDos {
    display: flex;
    justify-content: space-between;
}

.form-control {
    width: 350px;
}

.btn-outline-success {
    background-color: rgb(255, 167, 19);
    border-radius: 0%;
}

.searchIcon {
    filter: invert(100%) !important;
}

.navIcons {
    width: 38px;
    padding: 8px;
}

.bord {
    border-right: 1px solid black;
}

.navbar-nav {
    margin-left: 300px;
}

.navMenu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navMenu__options {
    display: flex;
    width: 800px;
    justify-content: space-between;
    list-style: none;
    margin-left: 100px;
}

a {
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

.allCategoriesButton {
    border-radius: 5px;
    border: none;
    padding: 5px;
    background-color: darkcyan;
    color: white;
    font-weight: 600;
    height: 50px;
}

.allCategoriesicon {
    filter: invert(100%);
}

.promotions {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;

}

.promotions :nth-child(1) {
    width: 725px;
}

.promotions :nth-child(2) {
    width: 360px;
}

.promotions :nth-child(3) img {
    width: 360px;
}

.promotions :nth-child(4) img {
    width: 360px;
}

.promotions :nth-child(5) img {
    width: 360px;
}

.healthyFood {
    width: 360px !important;
}

.categorys {
    width: 350px;
    background-color: rgb(240, 240, 240);
    padding: 10px;
}

.categoryTitle {
    font-size: 25px;
    border-bottom: 3px solid darkcyan;
    width: 120px;
    padding: 5px;
}

.categoryList {
    list-style: none;
    width: 325px;
}

.categoryList li {
    font-weight: 700;
    color: gray;
    margin: 15px 0;
}

.categoryIcon {
    width: 45px;
}

.categoryButton {
    border: none;
    background: rgb(240, 240, 240);
}

.offerProducts {
    padding: 5px;
    width: 1000px;
}

.offerTitle {
    font-size: 30px;
    width: 235px;
    border-bottom: 3px solid darkcyan;
    padding: 5px;
}

.productsSection {
    display: flex;
}

.productCard {
    display: flex;
    flex-direction: column;
    width: 202px;
    height: 280px;
    border: 1px solid gray;
    padding: 5px;
    position: relative;
}

.productCard:hover .productButtons{
 visibility: visible;
}


.productImage {
    width: 190px;
}

.productName {
    font-size: 20px;
}

.productPrice {
    font-weight: 700;
    color: darkcyan;
}

.productButtons {
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 3px;
    left: 50px;
    visibility: hidden;
}

.productButtons button {
    border: none;
    font-weight: 700;
    border-radius: 5px;
}

.addCarIcon {
    background-color: skyblue;
    width: 20px;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 1000px;
}

footer {
    background-color: rgb(240, 240, 240);
}

.googlePlay {
    width: 150px;
    margin-top: 15px;
}

.footerContainer {
    width: 220px;
    display: flex;
    flex-direction: column;

}

.footerContainerInfo {
    display: flex;
    flex-wrap: wrap;
    font-weight: 600;
    color: gray;
}

.footerTitle {
    font-size: 20px;
    margin-left: 30px;
    margin-top: 20px;
    color: black;
}

.footerFastKart {
    font-weight: 500;
    font-size: 25px;
    margin-top: 20px;
}

.secondPieceTitle {
    color: black;
}

.footerContainer ul {
    list-style: none;
}

.footerContainer ul li {
    margin: 5px;
}

.footerIcon {
    margin-right: 10px;
}

.footer__span {
    margin: 10px 0;
}

.underFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.underFooter__imagesContainer img {
    width: 50px;
}

@media (max-width: 575.98px) {}


@media (max-width: 767.98px) {}


@media (max-width: 991.98px) {
    .productsSection{
        display: block;
      }
}


@media screen and (max-width: 1199.98px) {

    .healthyFood__container{
        width: 800px !important;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .healthyFood__figure{
       width: 360px !important;
    }

}